<a href="https://colab.research.google.com/github/BharatSingla12/Play-Store-App-Review-Analysis-EDA/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

## Importing the all the important libraies

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Mount the drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## load the files

In [3]:
playstore_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/EDA Capstone Project/Play Store Data.csv")
userreviews_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/EDA Capstone Project/User Reviews.csv")

## Cleaning the Data

In [9]:
# Load the data 
playstore_df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
777,GRE Prep & Practice by Magoosh,EDUCATION,4.4,3963,Varies with device,"100,000+",Free,0,Everyone,Education,"June 6, 2018",Varies with device,Varies with device
6727,BS-Mobile,COMMUNICATION,5.0,1,683k,50+,Free,0,Everyone,Communication,"September 3, 2015",0.1,2.3 and up
5101,AG Fast Service Automotive,AUTO_AND_VEHICLES,NaN,5,1.7M,100+,Free,0,Everyone,Auto & Vehicles,"June 12, 2018",1.0.8,4.4 and up
1048,K PLUS,FINANCE,4.4,124424,Varies with device,"10,000,000+",Free,0,Everyone,Finance,"June 26, 2018",4.6.0,4.2 and up
1478,LH Housing Promotion Notice,HOUSE_AND_HOME,NaN,160,3.1M,"100,000+",Free,0,Everyone,House & Home,"September 19, 2017",1.2.0,4.0 and up

In [6]:
playstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [15]:
userreviews_df.head(5)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [11]:
userreviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [13]:
userreviews_df.nunique()

App                        1074
Translated_Review         27994
Sentiment                     3
Sentiment_Polarity         5410
Sentiment_Subjectivity     4474
dtype: int64

In [21]:
userreviews_df.iloc[:,1:].isnull().sum().sort_values(ascending = False)

Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [23]:
userreviews_df[~userreviews_df.iloc[:,1:].isnull()]

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,NaN,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,NaN,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,NaN,NaN,NaN,NaN,NaN
3,NaN,Works great especially going grocery store,Positive,0.40,0.875000
4,NaN,Best idea us,Positive,1.00,0.300000
...,...,...,...,...,...
64290,NaN,NaN,NaN,NaN,NaN
64291,NaN,NaN,NaN,NaN,NaN
64292,NaN,NaN,NaN,NaN,NaN
64293,NaN,NaN,NaN,NaN,NaN
64294,NaN,NaN,NaN,NaN,NaN

In [24]:

data = {'first_set': [1,2,3,4,5,np.nan,6,7,np.nan,np.nan],
        'second_set': ['a','b',np.nan,np.nan,'c','d','e',np.nan,np.nan,'f'],
        'third_set':['aa',np.nan,'bb','cc',np.nan,np.nan,'dd',np.nan,np.nan,'ee']
        }

df = pd.DataFrame(data,columns=['first_set','second_set','third_set'])

count_nan = df['first_set'].isna().sum()

print ('Count of NaN: ' + str(count_nan))

Count of NaN: 3

In [25]:
df

   first_set second_set third_set
0        1.0          a        aa
1        2.0          b       NaN
2        3.0        NaN        bb
3        4.0        NaN        cc
4        5.0          c       NaN
5        NaN          d       NaN
6        6.0          e        dd
7        7.0        NaN       NaN
8        NaN        NaN       NaN
9        NaN          f        ee